@font-face {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
}

@font-face {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: $font-mono;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}



body {
    font-family: $font-secondary;
}

component {
    display: block;
}

.list-group-item,
.table {
    font-family: $font-mono;
}


input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: inherit;
    font-family: $font-primary;
    font-weight: 500;
    line-height: 1.1;
}
