
body {
    color: #333;
    font-family: 'IBM_Plex_sans';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.42857143;
}


.list-group-item,
.table {
    font-family: IBM_Plex_mono;
}


input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: inherit;
    font-family: 'bebas_neueregular';
    font-weight: 500;
    line-height: 1.1;
}
