// Colors (https://drive.google.com/file/d/19S27cWKfD3VqHPP3wg9Yi-3JllTa_Dm5/view)
$color-primary: #005c8f;
$color-secondary: #adb5bd;

$color-error: #e40017;
$color-ok: #009333;

$color-grey-lighest: #fafafa;// DARK
$color-grey-darkest: #353535;// LIGHT GREY

$navbar-padding-x: 0;
$navbar-padding-y: 0;

.molgenis-navbar .navbar-brand {
    margin-right: 16px;
    padding-bottom: 0;
    padding-top: 0;

    img {
        height: 64px;
    }
}

@import 'molgenis';
