.slide-enter-active,
.slide-leave-active {
    opacity: 1;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.slide-enter,
.slide-leave-to {
    opacity: 0;
    transform: translateY(-100%);
}

.slide-enter-to,
.slide-leave {
    opacity: 1;
    transform: translateY(0);
}
