// Colors (https://drive.google.com/file/d/19S27cWKfD3VqHPP3wg9Yi-3JllTa_Dm5/view)
$color-primary: #017ffd; //MAIN BLUE
$color-secondary: #005ec4; //SUB BLUE

$color-error: #f36969; //RED
$color-ok: #00bd55; //SUB GREEN

$color-grey-lighest: #fafafa;// DARK
$color-grey-darkest: #353535;// LIGHT GREY

$font-primary: 'bebas_neueregular';
$font-secondary: 'IBM_Plex_sans';
$font-mono: 'IBM_Plex_mono';

@font-face {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
}

@font-face {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: $font-mono;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}


@import 'molgenis';
