.bread-crumb-select {
    color: black;
    padding-right: 2rem;
}

.bread-crumb-select > h1 {
    display: inline;
}

.bread-crumb-select > svg {
    display: none;
    vertical-align: 0.2rem;
}

.bread-crumb-select:hover > svg {
    display: inline;
}

.bread-crumb-dropdown >>> .bread-crumb-item-dropdown {
    padding-bottom: 0;
    padding-left: 0;
}
