/* Adds asterisk to required fields. The \a0 is a non-breaking space */
fieldset.required-field > div > div.form-group > label::after {
    content: '\a0*';
}

/*  Styling to have v-select look like bootstrap field */
.mg-ui-form-field .v-select .dropdown-toggle {
    background-color: white; /* $input-bg */
    min-height: calc(2.25rem + 2px);
    padding-bottom: 0;
}

.mg-ui-form-field .v-select.disabled .dropdown-toggle {
    background-color: #f8f8f8;
}

.mg-ui-form-field .mg-select-add-btn {
    margin-left: 0.5rem;
}

.mg-ui-form-field .v-select .vs__selected-options {
    padding-left: 0.75rem;
}

.mg-ui-form-field .dropdown.v-select.form-control.searchable {
    border: 0;
    padding: 0;
}

.mg-ui-form-field .v-select .selected-tag {
    margin-bottom: 0.375rem;
    margin-top: 0.375rem;
}

.mg-ui-form-field .v-select.single .vs__selected-options .selected-tag {
    margin-left: 0;
    padding-left: 0;
}

.mg-ui-form-field .v-select .vs__selected-options :first-child {
    margin-left: 0;
}

.mg-multi-select {
    height: auto;
}

/* fix to hide input[type=search] as webkit forces browser style */
.v-select .dropdown-toggle input[type=search] {
    -webkit-appearance: textfield;
}
