.molgenis-navbar {
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: 'bebas_neueregular';
    margin-bottom: 20px;
    text-transform: uppercase;
}

.molgenis-navbar-logo {
    height: 2rem;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: #017ffd;
    font-size: 1.1rem;
    // font-weight: bold;
}
