.molgenis-navbar {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.molgenis-navbar-logo {
    height: 2rem;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: #017ffd;
    font-weight: bold;
}
